.book-article span{
	display: flex;
	flex: 50%;
	justify-content: space-around;
    flex-wrap: wrap;
}
.book-article img{
  width: 100%;
  height: 30vh;
  object-fit: cover;  
}
.book-article{
  padding: 1rem;
}
.books{
  padding-left: 1rem;
}